.chat_wrapper {
	display: flex;
	background-color: #fff;
	border-right: 1px solid #dee3e9;
	box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.15);
}
.contacts_wrapper {
	border-right: 1px solid #dee3e9;
	width: 33.3%;
	min-width: 250px;
}
.messages {
	width: 66.7%;
	min-width: 500px;
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	color: #899eb1;
}
