.new_post {
	max-width: 70%;
	min-width: 50%;
}
.new_message {
	font-size: 1.6rem;
	padding: 1.6rem;
	margin: 15px 0;
	background: #f2f7fb;
	border-radius: 1rem;
	color: #5b5b5b;
	outline: none;
}
.button {
	display: block;
	text-align: right;
	/* border: 1px solid; */
}
