.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	grid-area: header;
	border-bottom: 1px solid #dee3e9;
	box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.15);
}
.header img {
	width: 80px;
}
