@font-face {
	font-family: "Kreon";
	src: url("fonts/Kreon-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Kreon";
	src: url("fonts/Kreon-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Kreon";
	src: url("fonts/Kreon-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSansLight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSansRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSansBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("fonts/OpenSansExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #333;
	/* blue color rgba(9, 114, 180, 1); */
	/* orang color rgba(242, 121, 53, 1); */
}
html {
	font-size: 10px;
}
body {
	background-color: #4fb3f1;
}
a {
	font-family: "Open Sans", Calibri, Arial, sans-serif;
	text-decoration: none;
	transition: all 0.3s ease;
	color: #0079f2;
	font-size: 1.6rem;
	font-weight: normal;
}
a:hover {
	color: #f27935;
}
.btn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Open Sans", Calibri, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	line-height: 1;
	background-color: #4990e2;
	border: 1px solid #4990e2;
	margin-bottom: 1.1rem;
	color: #fff;
	border-radius: 0.3rem;
	overflow: hidden;
	background-image: linear-gradient(to right, #4990e2 0%, #ff5f09 10%, #ff5f09 80%, #4990e2 100%);
	background-repeat: no-repeat;
	background-size: 10% 100%;
	background-position: -100% center;
	transition: all 0.5s ease;
	font-size: 1.4rem;
	padding: 0.7rem 1.8rem;
}
.btn:active,
.btn:hover {
	color: #fff;
	border-color: #ff5f09;
	box-shadow: 0.2rem 0.1rem 1.2rem rgba(91, 91, 91, 0.7);
	background-size: 150% 100%;
	background-position: 40% center;
	transition: all 1s ease;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.btn:focus {
	color: #fff;
}
.btn.outline {
	background-color: #fff;
	background-image: linear-gradient(to right, #fff 0%, #4990e2 10%, #4990e2 80%, #fff 100%);
	color: #5588d3;
	border: 1px solid #4990e2;
}
.btn.outline:active,
.btn.outline:hover {
	color: #fff;
}
.btn.inverse {
	background-color: #4990e2;
	background-image: linear-gradient(to right, #4990e2 0%, #fff 10%, #fff 85%, #4990e2 100%);
	color: #fff;
	border: 1px solid #fff;
}
.btn.inverse:active,
.btn.inverse:hover {
	color: #4990e2;
	border-color: #4990e2;
}
h1 {
	font-family: "Kreon", serif;
	font-size: 4.2rem;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	color: #4b4b4b;
}
h2 {
	font-family: "Kreon", serif;
	font-weight: 300;
	font-size: 3.6rem;
	text-transform: uppercase;
	line-height: 50px;
	color: #4b4b4b;
}
h3 {
	font-family: "Kreon", serif;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 110%;
	color: #4b4b4b;
}
h4,
h5,
h6 {
	font-family: "Kreon", serif;
	font-weight: 300;
	font-size: 2.2rem;
	line-height: 100%;
	color: #4b4b4b;
}
textarea {
	font-family: "Open Sans", Calibri, sans-serif;
	width: 90%;
	height: 42px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 30px;
	padding: 1.2rem 2rem 1.2rem 1.2rem;
	border-radius: 0.6rem;
	border: none;
	outline: none;
}
textarea::placeholder {
	opacity: 0.6;
	border: none;
	transition: opacity 0.5s ease;
}
textarea:focus::placeholder {
	opacity: 0;
}
p {
	font-family: "Open Sans", Calibri, sans-serif;
	font-size: 1.6rem;
	line-height: 1.3rem;
}
span {
	/* font-family: "Kreon", serif; */
	color: #5b5b5b;
	font-weight: 400;
	font-size: 1.4rem;
}
.container {
	margin: 0 auto;
	max-width: 80%;
	min-width: 760px;
}
.wrapper {
	display: grid;

	grid-template-areas:
		"header header"
		"nav content";

	grid-template-rows: 100px auto;
	grid-template-columns: 200px 1fr;
	background: #eff4fa;
	margin-top: 50px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}
.grid__item {
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 25px;
	background: rgba(255, 255, 255, 1);
}
